h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}
body {
    font-family: 'Fauna One', serif;
}

#main {
    margin: 100px 0;
}

h1,
.answers {
    text-align: center;
}


.answers .btn {
    margin: 15px;
}
